### 1.变量名修改

In [2]:
data <- mtcars    ## 加载内置数据集mtcars
head(data)        ## 显示数据集前几行

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [6]:
library(dplyr)  # 或 library(tidyverse)
data2 <- data %>%
  rename(cyl_new= cyl)
head(data2)

                  mpg  cyl_new disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6       160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6       160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4       108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6       258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8       360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6       225  105 2.76 3.460 20.22 1  0  3    1

### 2.变量类型修改

In [8]:
class(data$cyl)
data3 <- data %>%  mutate(cyl = as.factor(cyl))
class(data3$cyl)

[1] "numeric"

[1] "factor"

### 3.变量因子修改

In [14]:
library(forcats)  # 直接加载 forcats
data3$cyl
data4 <- data3 %>%  
  mutate(cyl = fct_relevel(cyl, c('6','8','4')))
data4$cyl

 [1] 6 6 4 6 8 6 8 4 4 6 6 8 8 8 8 8 8 4 4 4 4 8 8 8 8 4 4 4 8 6 8 4
Levels: 4 6 8

 [1] 6 6 4 6 8 6 8 4 4 6 6 8 8 8 8 8 8 4 4 4 4 8 8 8 8 4 4 4 8 6 8 4
Levels: 6 8 4

### 4.连续变量转分类变量

In [16]:
data5 <- data %>% mutate(level = ifelse(disp < 200, "low",  "high"))
head(data5)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb level
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4    low
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4    low
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1    low
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1    high
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2    high
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1    high