### 1. 左连接

In [4]:
library(dplyr)
merber = band_members
merber
instrument = band_instruments
instrument
df1 = left_join(merber, instrument, by='name')
df1

  name band
1 Mick Stones
2 John Beatles
3 Paul Beatles

  name  plays
1 John  guitar
2 Paul  bass
3 Keith guitar

  name band    plays
1 Mick Stones  NA
2 John Beatles guitar
3 Paul Beatles bass

### 2. 右连接

In [7]:
df2 = right_join(merber, band_instruments, by = 'name')
df2

  name  band    plays
1 John  Beatles guitar
2 Paul  Beatles bass
3 Keith NA      guitar

### 3.全连接

In [9]:
df3 = full_join(merber, instrument, by = 'name')
df3

  name  band    plays
1 Mick  Stones  NA
2 John  Beatles guitar
3 Paul  Beatles bass
4 Keith NA      guitar

### 4. 内连接

In [11]:
df4 = inner_join(merber, instrument, by = 'name')
df4

  name band    plays
1 John Beatles guitar
2 Paul Beatles bass

### 5.半连接

In [12]:
df5 = semi_join(merber, instrument, by="name")
df5

  name band
1 John Beatles
2 Paul Beatles

### 6. 行合并

In [15]:
member1 <- band_members   
member2 <- data.frame(name = c('Bill', 'Lily'),
                        band = c('S.H','TF'))
df6 = rbind(member1, member2)
member1
member2
df6

  name band
1 Mick Stones
2 John Beatles
3 Paul Beatles

  name band
1 Bill S.H
2 Lily TF

  name band
1 Mick Stones
2 John Beatles
3 Paul Beatles
4 Bill S.H
5 Lily TF

### 7.列合并

In [16]:
member1 <- band_members
profile <- data.frame(sex = c('Male', 'Male', 'Male'),
                      age = c(35,35,32))
data7 <- cbind(member1, profile)
member1
profile
data7

  name band
1 Mick Stones
2 John Beatles
3 Paul Beatles

  sex  age
1 Male 35
2 Male 35
3 Male 32

  name band    sex  age
1 Mick Stones  Male 35
2 John Beatles Male 35
3 Paul Beatles Male 32